<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" id="panel-67518">
       

        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title" data-toggle="collapse" data-parent="#panel-67518" href="#panel-element-559771">Collapsible Group Item #1.1</a>
          </div>
          
          <div id="panel-element-559771" class="panel-collapse collapse ">
            <div class="panel-body">
              <br>
              <%= render 'codertable' %>
              <br>
             <a class="panel-title" data-toggle="collapse" data-parent="#panel-67518" href="#panel-element-559772">New Coder</a>
             <br>
            </div>
          </div>

          <div id="panel-element-559772" class="panel-collapse collapse">
            <div class="panel-body">
              <%= render 'form' %>
            </div>
          </div>

          <div id="panel-element-559773" class="panel-collapse collapse">
            <div class="panel-body">
              <%= render 'form' %>
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>
